*.a
*.lib
*.o
lib/
obj/
bin/
*.log
*.res
*.npy
CMakeCache.txt 
CMakeFiles/ 
cmake_install.cmake
Makefile
build/bin/*
build/*
!build/bin/*.sh
!build/bin
!build
src/utils/TypeFunc.cpp
src/utils/TypeFunc.cu
*.tmp
*.swp
*.test
*.data
*.pyc
*.idea
*.DS_Store
*.so
bsim/code_gen/*
bsim/so_gen/*
bsim/*_gen/*
