*.a
*.lib
*.o
lib/
obj/
bin/
*.log
*.res
CMakeCache.txt 
CMakeFiles/ 
cmake_install.cmake
Makefile
build/bin/*
build/*
!build/bin/build.sh
!build/bin
!build
src/utils/TypeFunc.cpp
src/utils/TypeFunc.cu
